body {
  background-color: #c292dd;
  color: #2e0466;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #e8ccf0;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(73, 42, 85, 0.849);
}

h1 {
  color: rgb(109, 47, 160);
  font-size: 2.5rem;
  margin-bottom: 0;
}

h1:hover {
  color: rgb(177, 93, 247);
  font-size: 2.6rem;
  margin-bottom: 0;
}

h2 {
  color: #2e0466;
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #3d6b4b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(62, 199, 28, 0.849);
  box-shadow: 0 0 10px rgba(62, 199, 28, 0.849);
}

#statusMessage {
  margin-top: 1rem;
  font-style: italic;
}
